.btn {
  height: 40px;
  width: 40px;
  margin: 1.5px;
  border: 3px solid black;
  color: black;
  background: none;
  aspect-ratio: 1/1;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  opacity: 80%;
}
@media (min-width: 1400px) {
  .btn {
    height: 60px;
    width: 60px;
    font-size: 2rem;
  }
}

.btn.active {
  background-color: rgb(142, 141, 141);
  border: 3px solid black;
}
.btn.inactive {
  background-color: rgb(216, 216, 216);
  border: 3px solid black;
  opacity: 0.4;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: rgb(142, 141, 141);
}
